// Define variables for your color scheme

// For example:
.Positive-1-hex { color: #E0CFCE; }
.Positive-2-hex { color: #907B79; }
.Positive-3-hex { color: #3D94FF; }
.Positive-4-hex { color: #6C55ED; }
.Positive-5-hex { color: #FFA31F; }
$dark-brown: rgb(47, 24, 5);
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
