// Define variables for your color scheme

// For example:
$pawsitive-light-brown-white: #E0CFCE;
$pawsitive-light-brown-gray: #907B79;
$pawsitive-blue: #3D94FF;
$pawsitive-purple: #6C55ED;
$pawsitive-orange: #fcb045;
$dark-brown: rgb(47, 24, 5);
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
