<div class="container">
  <ul class="bg-pawsitive-orange"><% @pets.each do |pet| %>
    <div class="card-category" style="background-image: url('<%= cl_image_path pet.photo.key %>');"><%= pet.name %>
      <%# <%= link_to , pet_path(pet) %>
    </div>
    <% end %>
  </ul>
</div>

<%# <div style="bakcground-image: url('http://res.cloudinary.com/.....')">
  xxx
</div>

<div style="bakcground-image: url('<img src='http://res.cloudinary.com/ >')">
  xxx cl_image_tag
</div> %>
