<h1>Pawsitive</h1>



  <!-- code a Hero / Banner section -->
  <div class="banner" style="background-image: url(<%= image_path("pets/Mike.jpg") %>);">
    <div class="container">
      <h1>Borrow Joy, One Paw at a Time!!</h1>
      <p></p>
      <a class="btn-primary" href="#">Apply now!</a>
    </div>
  </div>

  <!-- code a "How it works" section -->
  <div class="container">
    <h2 class="text-center">How you can be pawsitive</h2>
    <div class="cards">

      <div class="card">
        <img src="images/apply.svg" alt="">
        <h4>Look for the lovely partner</h4>
        <p>Lots of buddy is waiting for you</p>
      </div>

      <div class="card">
        <img src="images/learn.svg" alt="">
        <h4>Having a nice day with them</h4>
        <p> You will have special day with them</p>
      </div>

      <div class="card">
        <img src="images/product.svg" alt="">
        <h4>Share experience and Build "Powsitive" community</h4>
        <p>You change the world !! </p>
      </div>

    </div>
  </div>
