.btn-primary {
  display: inline-block;
  background-color: $pawsitive-purple;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
}

.btn-secondary {
  border: 1px solid #1EDD88;
  padding: 8px 16px;
  border-radius: 50px;
  color: #1EDD88;
}

.btn-home-explore {
  position: absolute;
  left: 19%;
}

.btn-explore:hover {
  background-color: #4a37b8;
  transition-duration: .5s;
}

.home-button {
  background-color: $pawsitive-purple;
}

.home-button:hover {
  background-color: #4a37b8;
  transition-duration: .5s;
}


.btn-form {
  margin-left: 62px;
}

#search-btn {
  height: 50%;
  line-height: 0;
}

.btn-radio {
  text-align: center;
}

.btn-filter-red {
  border-radius: 12px;
  background-color: rgb(221, 90, 90);
  color: white;
}

.btn-filter-orange {
  border-radius: 12px;
  background-color: rgb(218, 171, 84);
  color: white;
}

.btn-filter-green {
  border-radius: 12px;
  background-color: #4bab80;
  color: white;
}

.rental-query-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
