.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

#heroh4 {
  margin: auto;
  color: black;
  h4 {
    font-size: 30px;
  }
}

.red-text {
  color: red;
}
.orange-text {
  color: orange;
}
.green-text {
  color: green;
}

.bigicon {
  font-size: 80px;
  margin-bottom: 10px;
}

#herop {
  margin: auto;
  color: rgb(66, 38, 12)65, 91, 42;
  font-size: 20px;
}

@media(max-width: 900px) {
  .card {
    margin-bottom: 15px;
  }
}

@media(max-width: 500px) {
  .cards {
    justify-content: space-around;
  }
}

.pet-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  object-fit: cover;
}

.bottom-text {
  position: absolute;
  bottom: 0;
  left: 0;
}

.p-thick {
  font-weight: bold;
}

// .home-cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 10px;
// }
