.footer {
  text-align: center;
  padding: 60px;
  background-color: #2c2b2b;
}

.footer a {
  font-size: 30px;
  color:  #1EDD88;
}

.footer p {
  color: #6B6C6C;
}

.footer .fas {
  color: #BF0F12;
}

.footer-top {
  background-color: #613e2b;
}

.footer-bottom {
  background-color: #2e180c;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-icon {
  color: white;
}

.footer-icon:hover {
  color: rgb(113, 113, 112);
}
