.box-container {
gap: 5px;
display: flex;
}

.container-form {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 50%;
}

.image-box {

}

.details-container {
display: flex;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
border-radius: 5px;
height: 100px;
position: relative;
padding: 10px;
}

.price{
  position: absolute;
  right: 20px;
}
.size {
  position: absolute;
  left: 400px;
}
